.modal-body label, label.col-form-label {
  font-weight: bold;
  font-size: 120%;
}

#calendar {
	height: calc(100vh - 80px);
}

#toolbar-user-name {
  padding-right: .7rem;
}

#toolbar-btn {
  vertical-align: inherit;
}


div#vacancyindicator,
div#time-bookbtn {
  height: 100%;
}
div.vacant {
    background-color: rgba(38, 160, 54, 1);
}
div.occupied {
    background-color: rgba(193, 29, 29, 1);
}
